@charset "utf-8";

/* reset */
* {margin: 0;padding: 0;box-sizing: border-box;}
li {list-style: none;}
a {text-decoration: none;color: inherit;}

/* theme */
body {font-family: 'NotoSansCJK',sans-serif; font-size: 10px;}
body[theme="dark"] {background: #101820;color: #F0F0F1;}

/* paragraph */
h1 {font-size: 18rem;}
h4 {line-height: 5.6rem;font-size: 4.5rem;}
h5 {margin-top: 4.8rem;margin-bottom: 2.4rem;font-size: 3rem;font-weight: 600;}
h6 {margin-top: 0rem;margin-bottom: 1.2rem;line-height: 3.3rem;font-size: 2.2rem;}
p {margin-top: 2.4rem;margin-bottom: 5.5rem;width: 65%;line-height: 3.7rem;font-size: 2.5rem;}

/* background */
.bg_black {background-color: #000;}
.bg_blue {background-color: #004EA8;}
.bg_gray {background-color: rgb(246, 246, 246);}

/* color */
.em {color: #004EA8;}

/* space */
.display_flex {display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;}

.mt12 {margin-top: 1.2rem;}

/* btn */
.btn {padding: 1.1rem 3.2rem 1.1rem 2.2rem;background-color: var(--blue);display: inline-block;height: 5.6rem;box-sizing: border-box;font-size: 2.2rem;line-height: 1.5;color: var(--white);-webkit-transition: background-color 0.3s cubic-bezier(0.19, 1, 0.22, 1);-moz-transition: background-color 0.3s cubic-bezier(0.19, 1, 0.22, 1);transition: background-color 0.3s cubic-bezier(0.19, 1, 0.22, 1);}
.btn > svg{margin-left: 1.2rem;transform: translateX(0);width: 1.8rem;height: 1.8rem;-webkit-transition: transform 0.3s cubic-bezier(0.19, 1, 0.22, 1);-moz-transition: transform 0.3s cubic-bezier(0.19, 1, 0.22, 1);transition: transform 0.3s cubic-bezier(0.19, 1, 0.22, 1);}
.btn:hover {background-color: #263139;}
.btn:hover > svg{transform: translateX(0.8rem);}

/* input */
input[type=range] {-webkit-appearance: none;margin: 2.4rem 0;}
input[type=range]:focus {outline: none;}
input[type=range]::-webkit-slider-runnable-track {width: 100%;height: 0.1rem;cursor: pointer;animate: 0;box-shadow: none;background: color(white);border-radius: 0;border: 0;}
input[type=range]::-webkit-slider-thumb {box-shadow: none;border: 0.1rem solid #F0F0F1;height: 1.4rem;width: 1.4rem;border-radius: 50%;background: #000;cursor: pointer;-webkitappearance: none;margin-top: -0.7rem;}
input[type=range]:focus::-webkit-slider-runnable-track {background: #F0F0F1;}
input[type=range]::-moz-range-track {width: 100%;height: 0.1rem;cursor: pointer;animate: 0;box-shadow: none;background: color(white);border-radius: 0;border: 0;}
input[type=range]::-moz-range-thumb {box-shadow: none;border: 0.1rem solid #F0F0F1;height: 1.4rem;width: 1.4rem;border-radius: 50%;background: #000;cursor: pointer;}
input[type=range]::-ms-track {border: 0;border-bottom: 0.1rem solid #F0F0F1;border-width: 100%;color: transparent;width: 100%;height: 0px;padding-top: 0.5rem;margin-bottom: 1rem;cursor:pointer;animate: 0;box-shadow: none;background: color(white);border-radius: 0;}
input[type=range]::-ms-fill-lower {background: #F0F0F1;border: 0;border-radius: 0;box-shadow: none;}
input[type=range]::-ms-fill-upper {background: #F0F0F1;border: 0;border-radius: 50%;box-shadow: none;}
input[type=range]::-ms-thumb {box-shadow: none;border: 0.1rem solid #F0F0F1;height: 1.4rem;width: 1.4rem;border-radius: 50%;background: #000;cursor: pointer;margin-top: 0.2rem;}
input[type=range]:focus::-ms-fill-lower {background: none;}input[type=range]:focus::-ms-fill-upper {background: none;}

/* layout */
.layout {width: 100%; overflow: hidden;}
.grid {position: relative;margin: 0 auto;width: calc(100vw - 38.400000000000006rem);}
