@media screen and (max-width: 1600px){
	/* basic */
	h4 {margin-top:120px;margin-bottom: 24px;font-size: 36px;}
	h5 {margin-bottom: 24px;font-size: 24px;}
	p {line-height: 1.5;}

	.layout {width: calc(100% - 288px);}
	.layout > aside {font-size: 14px;line-height: 28px; display: block;}
	.layout > aside .main_nav > li.on::before {top: 14px;}
	.mk_grid {width: calc(100% - 288px);grid-column-gap: 48px;}

	/* guide */
	.guide .content > .layout {margin-top: 90px;}

	section > div > ul.zoom_img > li.zoom_target + li {margin-left: 24px;}
	section > div > ul.zoom_img > li.zoom_target + li > img{width: calc(50% - 24px);float: left;margin-right: 24px;margin-bottom: 48px;}

}
/* //max 1600px */

@media screen and (max-width: 1200px){
	/* basic */
	h4 {font-size: 32px;}
	p {font-size: 18px;}

	header ul.category {font-size: 14px; display: none;}
	header .tab_gnb {width: 100%;padding-left: 144px;padding-right: 144px; line-height: 56px; outline: 1px solid #a7aeb9;font-size: 14px;background-color: #F0F0F1;height: 56px;line-height: 56px;}
	header .tab_gnb  svg{float: right; height: 56px;}

	.layout > aside {display: none; position: fixed;bottom: 0;left: 0;width: 100%;height:100%;margin-top:0;background-color: #F0F0F1; z-index: 1; font-size: 14px;line-height: 36px;}
	.layout > aside > ul{width: 100%; padding-top:20px; padding-left: 170px;padding-right: 170px; height: 100%; overflow: auto;}
	.layout > aside .main_nav > li.on::before {top: 18px;}
	.layout > aside.on_header {padding-top: 146px;}

	.layout > article {width: 100%; margin-left: 0;}

	body[theme="dark"] header .tab_gnb {background-color: #0c2340;}
	body[theme="dark"] .layout > aside {color: #0c2340;}

	div.txt-content > .layout {text-align: left;}
	div.txt-content > .layout > article {width: calc((100% - (64px*15))/16*12 + 64px*11); margin-left: calc((100% - (64px*15))/16*2 + 64px*2); }

	/* guide */
	.guide aside > ul.main_nav > li > ul.sub_nav > li {color: #0c2340; font-weight: 300;}
	.guide aside > ul.main_nav > li > ul.sub_nav > li.on {color: #0c2340;}

	section > div ul.img_list.img_6 > li{width: calc(25% - 64px);}
	section > div > div.img_slider_wrap > input[type=range]{width: 80%;}
	section > div > div.swiper-container {margin-top: 32px;padding-bottom: 24px;}

	/* faq */
	.faq .search_form {margin: 108px 0 60px;}
	.faq article > div > div.tit {line-height: 1.48;padding: 24px 50px 24px 0;font-size: 18px;}
	.faq article > div > div.txt {font-size: 15px;}

}
/* //max 1200px */

@media screen and (max-width: 900px){
	/* basic */
	h4 {font-size: 24px;}
	h5 {margin-bottom: 12px;font-size: 18px; margin-top: 24px;}
	p {font-size: 18px; line-height: 1.8; width: 100%;}

	.btn {font-size: 18px; line-height: 45px; height: 45px;}

	header > div.layout {height: 60px;}

	header div.logo > svg{height: 18px; width: auto;}
	header ul.category {display: none;width: 100%;margin: 116px;background: #f0f0f0;position: fixed;left: 0;right: 0;margin-left: 0;}
	header .ico_menu {height: 10px;position: absolute;top: 50%;right: 0;width: 16px;float: right; margin-top:-5px;}
	header .ico_menu > div {width: 16px; height: 2px; background-color: #F0F0F1; position: absolute;-webkit-transition: transform 0.3s cubic-bezier(0.19, 1, 0.22, 1), top 0.3s cubic-bezier(0.19, 1, 0.22, 1), color 0.3s cubic-bezier(0.19, 1, 0.22, 1);-moz-transition: transform 0.3s cubic-bezier(0.19, 1, 0.22, 1), top 0.3s cubic-bezier(0.19, 1, 0.22, 1), color 0.3s cubic-bezier(0.19, 1, 0.22, 1);transition: transform 0.3s cubic-bezier(0.19, 1, 0.22, 1), top 0.3s cubic-bezier(0.19, 1, 0.22, 1), color 0.3s cubic-bezier(0.19, 1, 0.22, 1);}
	header .ico_menu > div.top {top:0;}
	header .ico_menu > div.bottom {bottom: 0;}
	header .ico_menu.on > div.top {transform: rotate(45deg) translateX(-1px);top:50%;}
	header .ico_menu.on > div.bottom {transform: rotate(-45deg) translateX(-1px); bottom: 50%;}
	header .ico_menu.on ~ .category {display: block;}
	header .tab_gnb {padding-left: 96px;padding-right: 96px;}

	.layout {width: calc(100% - 192px);}
	.layout > aside {height:calc(100% - 116px);}
	.layout > aside > ul{padding-left: 24px; padding-right: 24px;}

	.mk_grid {width: calc(100% - 192px);-ms-grid-column-gap: 32px;grid-column-gap: 32px;-ms-grid-template-columns: repeat(6, 1fr);grid-template-columns: repeat(6, 1fr);}

	/* guide */
	article > section > div ul > li > p{font-size:12px;}

	section > div ul.img_list.img_3 > li{width: calc(50% - 64px);}
	section > div ul.img_list.img_4 > li{width: calc(50% - 64px);}
	section > div ul.img_list.img_5 > li{width: calc(33.3333% - 64px);}

	section > div > ul.zoom_img {display: block;}
	section > div > ul.zoom_img > li.zoom_target {margin-right: 0;width: 100%; margin-bottom: 24px;}
	section > div > ul.zoom_img > li.zoom_target + li {margin-left: 0;width: calc(100% + 24px);margin-left: -12px;overflow: hidden;}
	section > div > ul.zoom_img > li.zoom_target + li > img{width: calc(25% - 24px); margin-right: 12px; margin-left: 12px;}
	section > div > ul.zoom_img > li.zoom_target + li > img:nth-child(1){margin-left: 12px;}


	/* faq */
	.faq .search_form {margin: 108px 0 32px;line-height:50px;}
	.faq .search_form > svg {width: 30px; height: 30px;}
	.faq .search_form > input {font-size: 30px;}
	.faq article > div > div.tit::after {width: 9px; height: 14px;}

}
/* //max 900px */

@media screen and (max-width: 600px){
	h1 {font-size: 58px; margin-bottom: 24px;}
	h4 {font-size: 20px; margin-top:16px;}

	p {font-size: 16px;}

	header .tab_gnb {padding-left: 24px;padding-right: 24px;}

	.layout {width: calc(100% - 48px);}

	/* guide */
	article > section > div > .sub_tit {font-size: 12px;}
	article > section > div ul > li > h5{font-size: 16px;}
	article > section > div ul > li > img.pa50{padding:10px;}

	section > div ul.img_list {margin-right: -16px;margin-top: 16px;margin-left: -16px;}
	section > div ul.img_list > h5 {margin-right: 16px;margin-left: 16px;}
	section > div ul.img_list > li{margin-right: 16px;margin-left: 16px; margin-bottom: 32px;}
	section > div ul.img_list.img_1 > li{width: calc(100% - 32px);}
	section > div ul.img_list.img_2 > li{width: calc(100% - 32px);}
	section > div ul.img_list.img_3 > li{width: calc(100% - 32px);}
	section > div ul.img_list.img_4 > li{width: calc(100% - 32px);}
	section > div ul.img_list.img_5 > li{width: calc(33.3333% - 32px);}
	section > div ul.img_list.img_6 > li{width: calc(50% - 32px);}

	section > div > ul.zoom_img > li.zoom_target {margin-bottom: 12px;}
	section > div > ul.zoom_img > li.zoom_target + li {padding-top: 12px;margin-left: 0;width: calc(100% + 12px);margin-left: -6px;overflow: hidden;}
	section > div > ul.zoom_img > li.zoom_target + li > img{width: calc(25% - 12px); margin-right: 6px; margin-left: 6px;}
	section > div > ul.zoom_img > li.zoom_target + li > img:nth-child(1){margin-left: 6px;}

	section > div > div.top_tab > ul.tab {margin-top: 32px;line-height: 27px;font-size: 16px;}
	section > div > div.top_tab > ul.tab > li {margin-right: 16px;}

	section > div > div.top_tab > div.tab_content li p{line-height: 23px;font-size: 12px;}

	section > div > ul.colors_guide {-webkit-box-orient: vertical;-webkit-box-direction: normal;flex-direction: column;}
	section > div > ul.colors_guide > li {height: 50px;}
	section > div > ul.colors_guide > li > div > ul {font-size: 12px; line-height: 1.8;}
	section > div > ul.colors_guide > li > div > ul > li > span {width: 75px;}
	section > div > ul.colors_guide > li.on {height: 180px;}

	section> div > div.aside_tab > ul.tab > li {line-height: 27px;font-size: 16px; margin-bottom: 12px;}

}
