@charset "utf-8";

/* header */
header {position: fixed;top: 0;width: 100%;height: 92px;border-bottom: 0.1rem solid rgba(78, 84, 91, 0.3);z-index: 1;}
header > div.layout {position: relative;height: 100%;}
header > div.layout > div.grid {height: 100%; display: flex;}
header div.logo {height: 100%; align-items: center;}
header ul.category {position: absolute;top: 0;width: 100%;height: 100%;align-items: center;flex-direction: row;-webkit-box-pack: end;-webkit-box-orient: horizontal;-webkit-box-direction: normal;justify-content: flex-end;font-size: 18px;}
header ul.category > li{margin-left: 28px;font-weight: 600;cursor: pointer;}

/* footer */
footer > .grid {margin:2.4rem 0 0.5rem; height: 3.2rem;}

/* aside */
aside {position: absolute;top: 9rem;bottom: 0;margin-top: 0rem;padding-top: 2.4rem;width: 300px;height: auto;line-height: 45px;font-size: 18px;font-weight: bold;-webkit-transform: translateY(110px);-moz-transform: translateY(110px);-ms-transform: translateY(110px);-o-transform: translateY(110px); transform: translateY(110px);}
aside.scr {-webkit-transform: translateY(0);-moz-transform: translateY(0);-ms-transform: translateY(0);-o-transform: translateY(0); transform: translateY(0); }
aside > ul.main_nav  {position: -webkit-sticky;position: sticky;top:0;}
aside > ul.main_nav > li {cursor: pointer;}
aside > ul.main_nav > li > ul.sub_nav {margin-left: 24px;display: none;font-weight: 400;color: var(--light-gray);}
aside > ul.main_nav > li > ul.sub_nav > li{cursor: pointer;}
aside > ul.main_nav > li > ul.sub_nav > li.on {color: var(--white);}
aside > ul.main_nav > li > ul.sub_nav > li > a {display: block;}

/* content */
.content{margin-top: 5.6rem;padding-top: 4.8rem; width: calc(100% - 300px); margin-left: 300px;}
.content > hr {border:none; border-bottom: 1px solid rgb(78, 84, 91);}
.content > section {padding-top: 12.8rem;}
.content > section > div{margin-bottom: 19.2rem;padding-top: 4.8rem;}
.content > section > div > .update_date {color: var(--light-gray);line-height: 2.7rem;font-size: 1.8rem;}
.content > section > div ul > li > img{width: 100%;border: 1px solid rgb(38, 49, 57);}
.content > section > div ul > li > h5{margin-top: 0rem;margin-bottom: 1.2rem;line-height: 3.3rem;font-size: 2.2rem;}

section > div ul.img_list {margin-right: -3.2rem;margin-bottom: 6.4rem;margin-top: 3.2rem;margin-left: -3.2rem;justify-content: flex-start;-webkit-box-pack: start;-webkit-box-orient: horizontal;-webkit-box-direction: normal;flex-direction: row;flex-wrap: wrap;display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;}
section > div ul.img_list > li{margin-right: 3.2rem;margin-left: 3.2rem;margin-bottom: 6.4rem;}
section > div ul.img_list.img_1 > li{width: calc(100% - 6.4rem);}
section > div ul.img_list.img_2 > li{width: calc(50% - 6.4rem);}
section > div h6 + ul.img_list.img_3 {margin-top: 0;}
section > div ul.img_list.img_3 > li{width: calc(33.33% - 6.4rem);}
section > div ul.img_list.img_4 > li{width: calc(25% - 6.4rem);}
section > div ul.img_list.img_5 > li{width: calc(20% - 6.4rem);}
section > div ul.img_list.img_6 > li{width: calc(16.66% - 6.4rem);}
section > div ul.img_list > li > div.txt{line-height: 2.2rem;font-size: 1.6rem;margin-top: 1.2rem;margin-bottom: 0rem;-webkit-box-orient: vertical;-webkit-box-direction: normal;flex-direction: column;}
section > div ul.img_list > li > div.mark_x{font-size: 2.5em;color: #ff001f;line-height: 2.7rem;font-weight: bold;margin-bottom: 1.2rem;}
section > div ul.img_list > li > p {margin-top: 1.2rem;line-height: 2.2rem; font-size:1.6rem;}
section > div ul.img_list > li > p.lar{margin-top: 1.6rem;line-height: 2.2rem;font-size:1.6rem;}

section > div > ul.zoom_img {margin-top: 6.4rem;padding-bottom: 4.8rem;-webkit-box-pack: justify;justify-content: space-between;-webkit-box-orient: horizontal;-webkit-box-direction: normal;flex-direction: row;}
section > div > ul.zoom_img > li.zoom_target {margin-right: 3.2rem;margin-bottom: 4.8rem;width: 50%;}
section > div > ul.zoom_img > li.zoom_target > p{line-height: 2.2rem;font-size: 1.6rem;margin-top: 1.2rem;margin-bottom: 0rem;-webkit-box-orient: horizontal;-webkit-box-direction: normal;flex-direction: row;}
section > div > ul.zoom_img > li.zoom_target + li {margin-left: 3.2rem;width: 50%;padding-top: 4.2rem;}
section > div > ul.zoom_img > li.zoom_target + li > img{width: calc(50% - 3.2rem);float: left;margin-right: 3.2rem;margin-bottom: 6.4rem;transition-property: opacity;transition-duration: 0.5s;opacity: 0.3;}
section > div > ul.zoom_img > li.zoom_target + li > img:hover{opacity: 1;}
section > div > ul.zoom_img > li.zoom_target + li > img:nth-child(1){margin-left: 0rem;}

section > div > div.img_slider {position: relative; padding-bottom: 4.8rem;}
section > div > div.img_slider > img{width: 100%;}
section > div > div.img_slider > img.guide_line{position: absolute; top:0; left: 0;}
section > div > div.img_slider > input[type=range]{width: 40%;-webkit-appearance: none;margin: 2.4rem auto;display: block;}

section > div > ul.tab {margin-top: 6.4rem;border-bottom: 0.1rem solid #4e545b;line-height: 3.3rem;font-size: 2.2rem;font-weight: 800;}
section > div > ul.tab > li {padding-bottom: 1.2rem; padding-top: 0rem;margin-right: 3.2rem; cursor: pointer;}
section > div > ul.tab > li.on {border-bottom: 0.3rem solid #276ef1;}
section > div > div.tab_content > img{width: 100%;}
section > div > div.tab_content {margin-top: 3.2rem;}

section > div > ol {margin-top: 2.4rem;margin-left: 3.2rem;margin-right: 0;margin-bottom: 2.4rem;padding-left: 0px;}
section > div > ol > li {list-style-type: disc;padding-left: 1.2rem;margin-bottom: 2.4rem;width: 65%;line-height: 3.7rem;font-size: 2.5rem;}

section > div > div.summary {margin-top:12.8rem; width:100%;}
section > div > div.summary > div > ul > li {padding-bottom: 9.6rem;}
section > div > div.summary > div > ul > li > div.num {margin-bottom: 5.5rem;line-height: 3.7rem;font-size: 2.5rem;}
section > div > div.summary > div > ul > li > p {line-height: 9rem;font-size: 9rem; font-weight: 600;}

section > div > ul.colors_guide {-webkit-box-orient: horizontal;-webkit-box-direction: normal;flex-direction: row;margin-right: -1.2rem;margin-left: -1.2rem;}
section > div > ul.colors_guide > li {overflow: hidden;height: 42rem;transition-timing-function: cubic-bezier(0.33, 0, 0, 1);transition-delay: 0.125s;flex-shrink: 1;-webkit-box-flex: 1;flex-grow: 1;flex-basis: 50%;transition-duration: 0.5s;margin: 1.2rem;flex-basis: 16.6667%;}
section > div > ul.colors_guide > li.green {background-color: var(--green)}
section > div > ul.colors_guide > li.yellow {background-color: var(--yellow)}
section > div > ul.colors_guide > li.red {background-color: var(--red)}
section > div > ul.colors_guide > li.brown {background-color: var(--brown)}
section > div > ul.colors_guide > li.orange {background-color: var(--orange)}
section > div > ul.colors_guide > li.purple {background-color: var(--purple)}
section > div > ul.colors_guide > li > div {visibility: hidden;opacity: 0;transition: transform 0.65s,visibility 0s, opacity 0.5s linear;height: 100%;transform: translateX(-105%);position: relative;padding: 1.2rem;white-space: nowrap;transition-timing-function: cubic-bezier(0.33, 0, 0, 1);-webkit-transition-property: all;-moz-transition-property: all;transition-property: all;transition-delay: 0.65s;transition-duration: 0.325s;}
section > div > ul.colors_guide > li > div > h5 {line-height: 2.7rem;font-size: 1.8rem;}
section > div > ul.colors_guide > li > div > ul {position: absolute;bottom: 0;margin: 0.8em 0;line-height: 2.7rem;font-size: 1.8rem;}
section > div > ul.colors_guide > li.on {flex-basis: 50%;}
section > div > ul.colors_guide > li.on > div {visibility: visible;opacity: 1;transform: translateX(0);}

section > div#color_specialtyColors > ul.colors_guide > li {height: 4.3rem;font-size: 1.8rem;}
section > div#color_specialtyColors > ul.colors_guide > li:nth-child(5),
section > div#color_specialtyColors > ul.colors_guide > li:nth-child(6),
section > div#color_specialtyColors > ul.colors_guide > li:nth-child(7),
section > div#color_specialtyColors > ul.colors_guide > li:nth-child(8),
section > div#color_specialtyColors > ul.colors_guide > li:nth-child(9) {color: #000}

section > div#color_specialtyColors > ul.colors_guide.Violet > li:nth-child(1) {background-color: #2E224C}
section > div#color_specialtyColors > ul.colors_guide.Violet > li:nth-child(2) {background-color: #453473}
section > div#color_specialtyColors > ul.colors_guide.Violet > li:nth-child(3) {background-color: #574191}
section > div#color_specialtyColors > ul.colors_guide.Violet > li:nth-child(4) {background-color: #7356BF}
section > div#color_specialtyColors > ul.colors_guide.Violet > li:nth-child(5) {background-color: #957FCE}
section > div#color_specialtyColors > ul.colors_guide.Violet > li:nth-child(6) {background-color: #C1B5E3}
section > div#color_specialtyColors > ul.colors_guide.Violet > li:nth-child(7) {background-color: #E3DDF2}
section > div#color_specialtyColors > ul.colors_guide.Violet > li:nth-child(8) {background-color: #F4F1FA}

section > div#color_specialtyColors > ul.colors_guide.dark_blue > li:nth-child(1) {background-color: #050C4D}
section > div#color_specialtyColors > ul.colors_guide.dark_blue > li:nth-child(2) {background-color: #081270}
section > div#color_specialtyColors > ul.colors_guide.dark_blue > li:nth-child(3) {background-color: #0A1899}
section > div#color_specialtyColors > ul.colors_guide.dark_blue > li:nth-child(4) {background-color: #0E1FC1}
section > div#color_specialtyColors > ul.colors_guide.dark_blue > li:nth-child(5) {background-color: #535FCF}
section > div#color_specialtyColors > ul.colors_guide.dark_blue > li:nth-child(6) {background-color: #949CE3}
section > div#color_specialtyColors > ul.colors_guide.dark_blue > li:nth-child(7) {background-color: #D2D7F0}
section > div#color_specialtyColors > ul.colors_guide.dark_blue > li:nth-child(8) {background-color: #EBEDFA}
section > div#color_specialtyColors > ul.colors_guide.dark_blue > li:nth-child(8) {background-color: #EBEDFA}

section > div#color_specialtyColors > ul.colors_guide.blue > li:nth-child(1) {background-color: #102C60}
section > div#color_specialtyColors > ul.colors_guide.blue > li:nth-child(2) {background-color: #174291}
section > div#color_specialtyColors > ul.colors_guide.blue > li:nth-child(3) {background-color: #1E54B7}
section > div#color_specialtyColors > ul.colors_guide.blue > li:nth-child(4) {background-color: #276EF1}
section > div#color_specialtyColors > ul.colors_guide.blue > li:nth-child(5) {background-color: #5B91F5}
section > div#color_specialtyColors > ul.colors_guide.blue > li:nth-child(6) {background-color: #A0BFF8}
section > div#color_specialtyColors > ul.colors_guide.blue > li:nth-child(7) {background-color: #D4E2FC}
section > div#color_specialtyColors > ul.colors_guide.blue > li:nth-child(8) {background-color: #EFF3FE}

section > div#color_specialtyColors > ul.colors_guide.green > li:nth-child(1) {background-color: #10462D}
section > div#color_specialtyColors > ul.colors_guide.green > li:nth-child(2) {background-color: #156A41}
section > div#color_specialtyColors > ul.colors_guide.green > li:nth-child(3) {background-color: #09864A}
section > div#color_specialtyColors > ul.colors_guide.green > li:nth-child(4) {background-color: #05A357}
section > div#color_specialtyColors > ul.colors_guide.green > li:nth-child(5) {background-color: #06C167}
section > div#color_specialtyColors > ul.colors_guide.green > li:nth-child(6) {background-color: #66D19E}
section > div#color_specialtyColors > ul.colors_guide.green > li:nth-child(7) {background-color: #ADDEC9}
section > div#color_specialtyColors > ul.colors_guide.green > li:nth-child(8) {background-color: #E6F2ED}

section > div#color_specialtyColors > ul.colors_guide.yellow > li:nth-child(1) {background-color: #674D1B}
section > div#color_specialtyColors > ul.colors_guide.yellow > li:nth-child(2) {background-color: #997328}
section > div#color_specialtyColors > ul.colors_guide.yellow > li:nth-child(3) {background-color: #BC8B2C}
section > div#color_specialtyColors > ul.colors_guide.yellow > li:nth-child(4) {background-color: #FFC043}
section > div#color_specialtyColors > ul.colors_guide.yellow > li:nth-child(5) {background-color: #FFCF70}
section > div#color_specialtyColors > ul.colors_guide.yellow > li:nth-child(6) {background-color: #FFE3AC}
section > div#color_specialtyColors > ul.colors_guide.yellow > li:nth-child(7) {background-color: #FFF2D9}
section > div#color_specialtyColors > ul.colors_guide.yellow > li:nth-child(8) {background-color: #FFFAF0}

section > div#color_specialtyColors > ul.colors_guide.orange > li:nth-child(1) {background-color: #672A16}
section > div#color_specialtyColors > ul.colors_guide.orange > li:nth-child(2) {background-color: #9A3F21}
section > div#color_specialtyColors > ul.colors_guide.orange > li:nth-child(3) {background-color: #C14F29}
section > div#color_specialtyColors > ul.colors_guide.orange > li:nth-child(4) {background-color: #FF6937}
section > div#color_specialtyColors > ul.colors_guide.orange > li:nth-child(5) {background-color: #FA9269}
section > div#color_specialtyColors > ul.colors_guide.orange > li:nth-child(6) {background-color: #FABDA5}
section > div#color_specialtyColors > ul.colors_guide.orange > li:nth-child(7) {background-color: #FFE1D6}
section > div#color_specialtyColors > ul.colors_guide.orange > li:nth-child(8) {background-color: #FEF3EF}

section > div#color_specialtyColors > ul.colors_guide.red > li:nth-child(1) {background-color: #5A0A00}
section > div#color_specialtyColors > ul.colors_guide.red > li:nth-child(2) {background-color: #870F00}
section > div#color_specialtyColors > ul.colors_guide.red > li:nth-child(3) {background-color: #AB1300}
section > div#color_specialtyColors > ul.colors_guide.red > li:nth-child(4) {background-color: #E11900}
section > div#color_specialtyColors > ul.colors_guide.red > li:nth-child(5) {background-color: #E85C4A}
section > div#color_specialtyColors > ul.colors_guide.red > li:nth-child(6) {background-color: #F1998E}
section > div#color_specialtyColors > ul.colors_guide.red > li:nth-child(7) {background-color: #FED7D2}
section > div#color_specialtyColors > ul.colors_guide.red > li:nth-child(8) {background-color: #FFEFED}

section > div#color_specialtyColors > ul.colors_guide.brown > li:nth-child(1) {background-color: #3D281E}
section > div#color_specialtyColors > ul.colors_guide.brown > li:nth-child(2) {background-color: #5C3C2E}
section > div#color_specialtyColors > ul.colors_guide.brown > li:nth-child(3) {background-color: #744C3A}
section > div#color_specialtyColors > ul.colors_guide.brown > li:nth-child(4) {background-color: #99644C}
section > div#color_specialtyColors > ul.colors_guide.brown > li:nth-child(5) {background-color: #B18977}
section > div#color_specialtyColors > ul.colors_guide.brown > li:nth-child(6) {background-color: #D2BBB0}
section > div#color_specialtyColors > ul.colors_guide.brown > li:nth-child(7) {background-color: #EBE0DB}
section > div#color_specialtyColors > ul.colors_guide.brown > li:nth-child(8) {background-color: #F6F0EA}

section > div#color_specialtyColors > ul.colors_guide.dark_brown > li:nth-child(1) {background-color: #141414}
section > div#color_specialtyColors > ul.colors_guide.dark_brown > li:nth-child(2) {background-color: #333333}
section > div#color_specialtyColors > ul.colors_guide.dark_brown > li:nth-child(3) {background-color: #545454}
section > div#color_specialtyColors > ul.colors_guide.dark_brown > li:nth-child(4) {background-color: #757575}
section > div#color_specialtyColors > ul.colors_guide.dark_brown > li:nth-child(5) {background-color: #AFAFAF}
section > div#color_specialtyColors > ul.colors_guide.dark_brown > li:nth-child(6) {background-color: #CBCBCB}
section > div#color_specialtyColors > ul.colors_guide.dark_brown > li:nth-child(7) {background-color: #E2E2E2}
section > div#color_specialtyColors > ul.colors_guide.dark_brown > li:nth-child(8) {background-color: #EEEEEE}
section > div#color_specialtyColors > ul.colors_guide.dark_brown > li:nth-child(9) {background-color: #F6F6F6}

section > div#color_specialtyColors > ul.colors_guide.gray > li:nth-child(1) {background-color: #142328}
section > div#color_specialtyColors > ul.colors_guide.gray > li:nth-child(2) {background-color: #394145}
section > div#color_specialtyColors > ul.colors_guide.gray > li:nth-child(3) {background-color: #556268}
section > div#color_specialtyColors > ul.colors_guide.gray > li:nth-child(4) {background-color: #6C7C83}
section > div#color_specialtyColors > ul.colors_guide.gray > li:nth-child(5) {background-color: #8FA3AD}
section > div#color_specialtyColors > ul.colors_guide.gray > li:nth-child(6) {background-color: #A1BDCA}
section > div#color_specialtyColors > ul.colors_guide.gray > li:nth-child(7) {background-color: #CCDFE5}
section > div#color_specialtyColors > ul.colors_guide.gray > li:nth-child(8) {background-color: #EBF5F7}
section > div#color_specialtyColors > ul.colors_guide.gray > li:nth-child(9) {background-color: #F4FAFB}

section > div#illustration_colorPalettes > ul.colors_guide > li {height: 4.3rem;font-size: 1.8rem;}

section > div#illustration_colorPalettes > ul.colors_guide.blue > li:nth-child(1) {background-color: #276EF1}
section > div#illustration_colorPalettes > ul.colors_guide.blue > li:nth-child(2) {background-color: #5290FF}
section > div#illustration_colorPalettes > ul.colors_guide.blue > li:nth-child(3) {background-color: #71A4FF}
section > div#illustration_colorPalettes > ul.colors_guide.blue > li:nth-child(4) {background-color: #9CC0FF}
section > div#illustration_colorPalettes > ul.colors_guide.blue > li:nth-child(5) {background-color: #C6DAFF}
section > div#illustration_colorPalettes > ul.colors_guide.blue > li:nth-child(6) {background-color: #E9F1FF}
section > div#illustration_colorPalettes > ul.colors_guide.blue > li:nth-child(7) {background-color: #F3F8FF}

section > div#illustration_colorPalettes > ul.colors_guide.green > li:nth-child(1) {background-color: #47B275}
section > div#illustration_colorPalettes > ul.colors_guide.green > li:nth-child(2) {background-color: #BCE5C0}
section > div#illustration_colorPalettes > ul.colors_guide.green > li:nth-child(3) {background-color: #DFF7E6}

section > div#illustration_colorPalettes > ul.colors_guide.yellow > li:nth-child(1) {background-color: #FFC043}
section > div#illustration_colorPalettes > ul.colors_guide.yellow > li:nth-child(2) {background-color: #FFE1A8}
section > div#illustration_colorPalettes > ul.colors_guide.yellow > li:nth-child(3) {background-color: #FFF5E6}

section > div#illustration_colorPalettes > ul.colors_guide.red > li:nth-child(1) {background-color: #F25138}
section > div#illustration_colorPalettes > ul.colors_guide.red > li:nth-child(2) {background-color: #FC8484}
section > div#illustration_colorPalettes > ul.colors_guide.red > li:nth-child(3) {background-color: #FFE7F7}

section > div#illustration_colorPalettes > ul.colors_guide.brown > li:nth-child(1) {background-color: #99644C}
section > div#illustration_colorPalettes > ul.colors_guide.brown > li:nth-child(2) {background-color: #C78982}
section > div#illustration_colorPalettes > ul.colors_guide.brown > li:nth-child(3) {background-color: #F2D8D8}

section > div#illustration_colorPalettes > ul.colors_guide.orange > li:nth-child(1) {background-color: #FF7D49}
section > div#illustration_colorPalettes > ul.colors_guide.orange > li:nth-child(2) {background-color: #FFAFA1}
section > div#illustration_colorPalettes > ul.colors_guide.orange > li:nth-child(3) {background-color: #FFE2E0}

section > div#illustration_colorPalettes > ul.colors_guide.Violet > li:nth-child(1) {background-color: #2E224C}
section > div#illustration_colorPalettes > ul.colors_guide.Violet > li:nth-child(2) {background-color: #AE9EFF}
section > div#illustration_colorPalettes > ul.colors_guide.Violet > li:nth-child(3) {background-color: #EADFFF}

section > div#illustration_colorPalettes > ul.colors_guide.gray > li:nth-child(1) {background-color: #AFAFAF}
section > div#illustration_colorPalettes > ul.colors_guide.gray > li:nth-child(2) {background-color: #CBCBCB}
section > div#illustration_colorPalettes > ul.colors_guide.gray > li:nth-child(3) {background-color: #E2E2E2}
section > div#illustration_colorPalettes > ul.colors_guide.gray > li:nth-child(4) {background-color: #EEEEEE}
section > div#illustration_colorPalettes > ul.colors_guide.gray > li:nth-child(5) {background-color: #F6F6F6}



section > div > div.swiper-container {margin-top: 6.4rem;padding-bottom: 4.8rem;}
section > div > div.swiper-container > div.swiper-wrapper > div.swiper-slide > img {width: 100%;}
section > div > div.swiper-container > div.swiper-option {margin-top: 2.2rem;height: 1.8rem;}
section > div > div.swiper-container > div.swiper-option > div.swiper-pagination{font-size: 1.6rem;line-height: 1;display: inline-block;float: right;position: static;width: auto;}
section > div > div.swiper-container > div.swiper-option > div.swiper-button-next,
section > div > div.swiper-container > div.swiper-option > div.swiper-button-prev{position: static;display: inline-block;}
section > div > div.swiper-container > div.swiper-option > div.swiper-button-next > svg,
section > div > div.swiper-container > div.swiper-option > div.swiper-button-prev > svg{width: 18px; height: 18px;}
section > div > div.swiper-container > div.swiper-option > div.swiper-button-next::after,
section > div > div.swiper-container > div.swiper-option > div.swiper-button-prev::after{content: ''}

section> div > div.aside_tab {margin-top: 6.4rem;padding-bottom: 4.8rem;}
section> div > div.aside_tab > ul.tab {width: 20%;-webkit-box-orient: vertical;-webkit-box-direction: normal;flex-direction: column;color: #77797a;}
section> div > div.aside_tab > ul.tab > li {margin-bottom: 2.4rem;transition-duration: 0.25s;transition-timing-function:cubic-bezier(0.33, 0, 0, 1);transition-delay: 0.125s;transition-property: color;line-height: 3.3rem;font-size: 2.2rem;}
section> div > div.aside_tab > ul.tab > li.on {color: #F0F0F1;font-weight: 700;}
section> div > div.aside_tab > ul.img_list {width: 100%;margin:0;}
section> div > div.aside_tab > ul.img_list > li {	display: none;}
section> div > div.aside_tab > ul.img_list > li.on {	display: block;}
/* //basic */

/* faq */
.faq aside {width: 17.5vw; position: static; float: left;}
.faq .content {width: calc(100% - 17.5vw); margin-left: 0; float: left;}
.faq .content > div[tab-group] {border-bottom: 0.1rem solid #e2e2e2;}
.faq .content > div > div.tit {line-height: 3.7rem;padding: 2.8rem 5rem 2.8rem 0;font-size: 2.5rem; font-weight: 800; cursor: pointer; position: relative;}
.faq .content > div > div.tit::after {position: absolute; top: 50%; right: 0; display: block; content: ''; width: 13px; height: 20px; background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='9' height='14' viewBox='0 0 9 14'%3E%3Cpath fill='currentColor' fill-rule='evenodd' d='M9 7l-4.929 7H0l4.929-7L0 0h4.071z'%3E%3C/path%3E%3C/svg%3E"); background-repeat: no-repeat; background-size: cover;margin-top: -7px;}
.faq .content > div > div.txt {line-height: 3.3rem;font-size: 2.2rem;padding: 3rem 0;width: 62.5%; display: none;}
.faq > div.layout + div.layout {padding:19.2rem 0;}
.faq > div.layout + div.layout .content{margin-left: 17.5vw;}

@media screen and (max-width: 1600px){
.grid {width: calc(100% - 28.799999999999997rem);-ms-grid-column-gap: 4.8rem;grid-column-gap: 4.8rem;-ms-grid-template-columns: repeat(16, 1fr);grid-template-columns: repeat(16, 1fr);}
.grid_col {-ms-grid-column: 1 / span 16;grid-column: 1 / span 16;}
.btn {font-size: 1.8rem;}
aside {left: 14.399999999999999rem;}

.content {margin-top: 3rem;}
.content > section {padding-top: 9.6rem;}
.content > section > div > h4 {line-height: 4.5rem;font-size: 3.6rem;}
.content > section > div > h5 {margin-top: 3.2rem;margin-bottom: 1.6rem;}
.content > section > div > p {margin-top: 2.4rem;margin-bottom: 4rem;line-height: 3rem;font-size: 2rem;}

section > div > ul.img_list {margin-right: -2.4rem;margin-bottom: 4.8rem;margin-top: 2.4rem;margin-left: -2.4rem;}
section > div > ul.img_list > li{margin-right: 2.4rem;margin-left: 2.4rem;margin-bottom: 4.8rem;}
section > div > ul.img_list.img_1 > li{flex: 0 1 calc(100% - 4.8rem);}
section > div > ul.img_list.img_4 > li{flex: 0 1 calc(25% - 4.8rem);}
section > div > ul.img_list.img_6 > li{flex: 0 1 calc(16.66% - 4.8rem);}

section > div > ul.zoom_img > li.zoom_target > p{line-height: 1.8rem;font-size: 1.2rem;}
section > div > ul.zoom_img > li.zoom_target + li {margin-left: 2.4rem;}
section > div > ul.zoom_img > li.zoom_target + li > img{width: calc(50% - 2.4rem);margin-right: 2.4rem;margin-bottom: 4.8rem;}
section > div > ul.zoom_img > li.zoom_target + li > img:nth-child(1){margin-left: 0rem;}

section > div > div.img_slider {padding-bottom: 3.6rem;}

section > div > ol > li {line-height: 3rem;font-size: 2rem;}
section > div > div.summary {margin-top:9.6rem}
section > div > div.summary > div > ul > li {padding-bottom: 6.4rem;}
section > div > div.summary > div > ul > li > div.num {margin-bottom: 4rem;line-height: 3rem;font-size: 2rem;}
section > div > div.summary > div > ul > li > p {line-height: 7.2rem;font-size: 7.2rem;}

}
/* //max 1600px */

@media screen and (max-width: 1200px){
.grid {width: calc(100vw - 21.6rem);-ms-grid-column-gap: 3.6rem;grid-column-gap: 3.6rem;-ms-grid-template-columns: repeat(12, 1fr);grid-template-columns: repeat(12, 1fr);}
.grid_col {-ms-grid-column: 1 / span 12;grid-column: 1 / span 12;}
aside {margin-left: -2rem;}
.content{margin-top: 11rem;}
.content > section {padding-top: 6.4rem;}
.content > section > div > h4 {line-height: 4.0rem;font-size: 3.2rem;}
.content > section > div > p {margin-top: 1.6rem;margin-bottom: 1.6rem;line-height: 2.7rem;font-size: 1.8rem;}

section > div > ul.img_list {margin-right: -1.8rem;margin-bottom: 3.6rem;margin-top: 1.8rem;margin-left: -1.8rem;}
section > div > ul.img_list > li{margin-right: 1.8rem;margin-left: 1.8rem;margin-bottom: 3.6rem;}
section > div > ul.img_list.img_1 > li{flex: 0 1 calc(100% - 3.6rem);}
section > div > ul.img_list.img_4 > li{flex: 0 1 calc(25% - 3.6rem);}
section > div > ul.img_list.img_6 > li{flex: 0 1 calc(16.66% - 3.6rem);}
section > div > ul.zoom_img {margin-top: 3.6rem;padding-bottom: 3.6rem;}
section > div > ul.zoom_img > li.zoom_target {margin-right: 2.4rem;margin-bottom: 3.6rem;}
section > div > ul.zoom_img > li.zoom_target > h5{margin-top: 0rem;margin-bottom: 0.8rem;line-height: 2.7rem;font-size: 1.8rem;}
section > div > ul.zoom_img > li.zoom_target > p{margin-top: 0.8rem;margin-bottom: 0rem;}
section > div > ul.zoom_img > li.zoom_target + li {margin-left: 1.8rem;}
section > div > ul.zoom_img > li.zoom_target + li > img{width: calc(50% - 1.8rem);margin-right: 1.8rem;margin-bottom: 3.6rem;}
section > div > ul.zoom_img > li.zoom_target + li > img:nth-child(1){margin-left: 0rem;}
section > div > ul.tab {margin-top: 3.6rem;}
section > div > ul.tab {line-height: 2.4rem;font-size: 1.6rem;}
section > div > ul.tab > li {padding-bottom: 0.8rem; padding-top: 0rem;}
section > div > ol > li {line-height: 2.7rem;font-size: 1.8rem;}
section > div > div.summary {margin-top:7.2rem}
section > div > div.summary > div > ul > li {padding-bottom: 4.8rem;}
section > div > div.summary > div > ul > li > div.num {margin-bottom: 1.8rem;line-height: 2.7rem;font-size: 1.8rem;}
section > div > div.summary > div > ul > li > p {line-height: 6.4rem;font-size: 6.4rem;}

section > div > div.swiper-container {margin-top: 3.6rem;padding-bottom: 3.6rem;}

section> div > div.aside_tab {margin-top: 3.6rem;padding-bottom: 3.6rem;}

/* //max 1200px */

@media screen and (max-width: 900px){
.grid {width: calc(100vw - 19.200000000000003rem);-ms-grid-column-gap: 3.2rem;grid-column-gap: 3.2rem;-ms-grid-template-columns: repeat(6, 1fr);grid-template-columns: repeat(6, 1fr);}
.grid_col {-ms-grid-column: 1 / span 6;grid-column: 1 / span 6;}
.content{margin-top: calc(10.8rem + 2.4vw);}
.content > section {padding-top: 4.8rem;}
.content > section > div > h4 {line-height: 3rem;font-size: 2.4rem;}
.content > section > div > .update_date {margin-top: 1.2rem;margin-bottom: 1.2rem;line-height: 2.1rem;font-size: 1.4rem;}

section > div > ul.img_list {margin-right: 1.6rem;margin-bottom: 2.4rem;margin-top: 1.6rem;margin-left: 1.6rem;}
section > div > ul.img_list > li{margin-left: 1.6rem;margin-left: 1.6rem;margin-bottom: 2.4rem;}
section > div > ul.img_list.img_1 > li{width: 100%;}
section > div > ul.img_list.img_4 > li{width: calc(50% - 3.2rem);}
section > div > ul.img_list.img_6 > li {width: calc(50% - 3.2rem);}
section > div > ul.img_list.img_3 > li > p {margin-top: 0.6rem;}
section > div > ul.img_list > li > div.txt{margin-top: 0.6rem;margin-bottom: 0rem;}
section > div > ul.img_list > li > div.mark_x{font-size: 1.8em;margin-bottom: 0.6rem;}

section > div > ul.zoom_img {margin-top: 3.2rem;padding-bottom: 6.4rem;}
section > div > ul.zoom_img > li.zoom_target {width: 100%;margin-right: 1.8rem;margin-bottom: 2.4rem;}
section > div > ul.zoom_img > li.zoom_target > h5{margin-top: 0rem;margin-bottom: 0.6rem;line-height: 2.4rem;font-size: 1.6rem;}
section > div > ul.zoom_img > li.zoom_target > p{margin-top: 0.6rem;margin-bottom: 0rem;}
section > div > ul.zoom_img > li.zoom_target + li {margin-left: 1.8rem;width: 100%;}
section > div > ul.zoom_img > li.zoom_target + li > img:nth-child(1){margin-left: 0rem;}
section > div > div.img_slider {padding-bottom: 3.2rem;}
section > div > ul.tab {margin-top: 3.2rem;}
section > div > ul.tab {line-height: 2.1rem;font-size: 1.4rem;}
section > div > ul.tab > li {padding-bottom: 0.6rem; padding-top: 0rem;margin-right: 1.2rem; }
section > div > ul.tab > li.on {border-bottom: 0.2rem solid #276ef1;}
section > div > div.tab_content {margin-top: 1.2rem;}
section > div > ol {font-size: 1.7rem;}
section > div > ol > li {width: 100%;line-height: 2.4rem;font-size: 1.6rem;}
section > div > ul.summary_list {margin-top:4.8rem}
section > div > div.summary > div > ul > li > div.num {margin-bottom: 1.2rem;line-height: 2.4rem;font-size: 1.6rem;}
section > div > div.summary > div > ul > li > p {line-height: 3.9rem;font-size: 3.9rem;}
section > div > div.swiper-container {margin-top: 2.4rem;padding-bottom: 2.4rem;}
section> div > div.aside_tab {margin-top: 2.4rem;padding-bottom: 2.4rem;}
}
/* //max 900px */
