@charset "utf-8";

/* header */
header {position: fixed;top: 0;width: 100%;height: 90px;z-index: 1;/*border-bottom: 0.1rem solid rgba(78, 84, 91, 0.3);*/}
header > div.layout {position: static; height: 100%;}
header > div.layout > div.grid {height: 100%; display: flex; position: relative;z-index: 1}
header > div.layout > div.bg {position: absolute;width: 100%;height: 100%;top: 0;left: 0;background: #0c2340;display: none;}
/* header[theme="light"] > div.layout > div.grid {color:#0c2340; }
header[theme="dark"] > div.layout > div.grid {color:#F0F0F1; } */
header[theme="dark"]  {background-color: #0c2340; }
header[theme="light"] .cls-1 {fill: #0c2340;}
header[theme="dark"] .cls-1 {fill: #F0F0F1;}
header[theme="light"] ul.category > li {color: #0c2340;}
header[theme="dark"] ul.category > li {color: #F0F0F1;}
header div.logo {height: 100%; align-items: center;}
header ul.category {position: absolute;top: 0;width: 100%;height: 100%;align-items: center;flex-direction: row;-webkit-box-pack: end;-webkit-box-orient: horizontal;-webkit-box-direction: normal;justify-content: flex-end;font-size: 18px;}
header ul.category > li{margin-left: 28px;font-weight: 600;cursor: pointer;font-family: 'Godo';}

/* footer */
footer {padding: 25px 0 30px; color: #a7aeb9}
footer > .layout > .row {overflow: hidden; font-size: 10px;}
footer > .layout > .row > :first-child{float: left;}
footer > .layout > .row > :last-child{float: right;}
footer > .layout > .row + .row {margin-top: 15px;}
footer > .layout > .row ul{display: flex;}
footer > .layout > .row ul.sns{align-items: flex-end; height: 36px; }
footer > .layout > .row ul > li {margin-left: 15px; line-height: 1; cursor: pointer;}
footer > .layout > .row ul.sns > li:hover {color: #F0F0F1}
footer > .layout > .row ul.policy {align-items: flex-start;}

/* brand-story */
.banner-top,
.banner-bottom {position: relative; overflow: hidden; padding-bottom: 66%; width: 100%;}
.banner-bottom {margin-top: 200px;}
.banner {width: 50%;padding-bottom: 33%;background-position: center;background-size: cover; position: absolute; }

/* guide.html */
.guide .content > .layout {margin-top: 150px;}
.guide aside > ul.main_nav{position: absolute;top: 0; transform: translateY(0);-moz-transform: translateY(0);-webkit-transform: translateY(0); transition-property: transform;transition-duration: 0.2s;}
.guide aside > ul.main_nav > li {cursor: pointer;}
.guide aside > ul.main_nav > li > ul.sub_nav {margin-left: 24px;display: none;font-weight: 400;color: #a7aeb9;}
.guide aside > ul.main_nav > li > ul.sub_nav > li{cursor: pointer;}
.guide aside > ul.main_nav > li > ul.sub_nav > li.on {color: #F0F0F1;}
.guide aside > ul.main_nav > li > ul.sub_nav > li > a {display: block;}

article {transform: translateY(0);-moz-transform: translateY(0);-webkit-transform: translateY(0);transition-property: transform;transition-duration: 0.2s;}
article > section {padding-top: 13px;}
article > section > div{margin-bottom: 20px;padding-top: 5px;}
article > section > div > .sub_tit {color: #a7aeb9;line-height: 27px;font-size: 14px;font-weight: 300;}
article > section > div ul > li > img{border: 1px solid rgb(38, 49, 57);vertical-align: bottom;}
article > section > div ul > li > h5{margin-top: 0rem;margin-bottom: 12px;line-height: 33px;font-size: 22px;}
article > section > div ul > li > p{width: 100%;margin-top: 12px;margin-bottom: 0;line-height: 22px; font-size:16px;}


section > div ul.img_list {margin-right: -32px;margin-top: 32px;margin-left: -32px;display: flex;display: -webkit-flex;flex-wrap: wrap;-webkit-flex-wrap: wrap;}
section > div ul.img_list > h5 {width: 100%;margin: 0;margin-right: 32px;margin-left: 32px;margin-top: 0rem;margin-bottom: 12px;line-height: 33px;font-size: 22px;}
section > div ul.img_list > li{margin-right: 32px;margin-left: 32px; margin-bottom: 64px;}
section > div ul.img_list.img_1 > li{width: calc(100% - 64px);}
section > div ul.img_list.img_2 > li{width: calc(50% - 64px);}
section > div h6 + ul.img_list.img_3 {margin-top: 0;}
section > div ul.img_list.img_3 > li{width: calc(33.33% - 64px);}
section > div ul.img_list.img_4 > li{width: calc(25% - 64px);}
section > div ul.img_list.img_5 > li{width: calc(20% - 64px);}
section > div ul.img_list.img_6 > li{width: calc(16.66% - 64px);}
/* section > div ul.img_list > li > div.txt{line-height: 22px;font-size: 15px;margin-top: 15px;margin-bottom: 0;font-weight:300;} */
section > div ul.img_list > li > div.mark_x{font-size: 25px;color: #ff001f;line-height: 27px;font-weight: bold;margin-bottom: 12px;}
section > div ul.img_list > li > p.lar{margin-top: 16px;line-height: 22px;}

section > div > ul.zoom_img {margin-top: 64px;padding-bottom: 48px;}
section > div > ul.zoom_img > li.zoom_target {margin-right: 3.2rem;margin-bottom: 4.8rem;width: 50%;}
section > div > ul.zoom_img > li.zoom_target + li {margin-left: 3.2rem;width: 50%;padding-top: 42px;}
section > div > ul.zoom_img > li.zoom_target + li > img{width: calc(50% - 3.2rem);float: left;margin-right: 3.2rem;margin-bottom: 6.4rem;transition-property: opacity;transition-duration: 0.5s;opacity: 0.3;}
section > div > ul.zoom_img > li.zoom_target + li > img:hover{opacity: 1;}
section > div > ul.zoom_img > li.zoom_target + li > img:nth-child(1){margin-left: 0rem;}
section > div > ul.zoom_img > li.zoom_target > p > span {display: none;}
section > div > ul.zoom_img > li.zoom_target > p > span.on {display: inline-block;}
section.Typography > div > ul.zoom_img > li.zoom_target + li {padding-top: 0;}

section > div > div.img_slider_wrap {padding-bottom: 4.8rem;}
section > div > div.img_slider_wrap > .img_slider {position: relative;}
section > div > div.img_slider_wrap > .img_slider > img{width: 100%; vertical-align: top}
section > div > div.img_slider_wrap > .img_slider > .guide_line{position: absolute; top:0; right: 0; width: 100%; height: 100%; overflow: hidden;}
section > div > div.img_slider_wrap > .img_slider > .guide_line > img{height: 100%; width: auto; position: absolute;top:0; right: 0;}
section > div > div.img_slider_wrap > input[type=range]{width: 40%;-webkit-appearance: none;margin: 2.4rem auto;display: block;}

section > div > div.top_tab > ul.tab {margin-top: 64px;border-bottom: 1px solid #4e545b;line-height: 33px;font-size: 22px;font-weight: 600;}
section > div > div.top_tab > ul.tab > li {padding-bottom: 1.2rem; padding-top: 0rem;margin-right: 32px; cursor: pointer; display: inline-block; vertical-align: bottom;border-bottom: 0.3rem solid transparent;}
section > div > div.top_tab > ul.tab > li.on {border-color: #c4d600;}
section > div > div.top_tab > div.tab_content {margin-top: 32px}
section > div > div.top_tab > div.tab_content li{display: none;}
section > div > div.top_tab > div.tab_content li.on{display: block;}
section > div > div.top_tab > div.tab_content li p{width: 100%;margin-top: 12px;line-height: 22px;font-size: 16px;}

section > div > ol {margin-top: 2.4rem;margin-left: 3.2rem;margin-right: 0;margin-bottom: 2.4rem;padding-left: 0px;}
section > div > ol > li {list-style-type: disc;padding-left: 1.2rem;margin-bottom: 2.4rem;width: 65%;line-height: 3.7rem;font-size: 2.5rem;}

section > div > div.summary {margin-top:12.8rem; width:100%;}
section > div > div.summary > div > ul > li {padding-bottom: 9.6rem;}
section > div > div.summary > div > ul > li > div.num {margin-bottom: 5.5rem;line-height: 3.7rem;font-size: 2.5rem;}
section > div > div.summary > div > ul > li > p {line-height: 9rem;font-size: 9rem; font-weight: 600;}

section > div > ul.colors_guide {-webkit-box-orient: horizontal;-webkit-box-direction: normal;flex-direction: row;margin-right: -1.2rem;margin-left: -1.2rem;}
section > div > ul.colors_guide > li {overflow: hidden;height: 420px;transition-timing-function: cubic-bezier(0.33, 0, 0, 1);transition-delay: 0.125s;flex-shrink: 1;-webkit-box-flex: 1;flex-grow: 1;flex-basis: 50%;transition-duration: 0.5s;margin: 1.2rem;flex-basis: 16.6667%;outline: 1px solid #F0F0F1;}
section > div > ul.colors_guide > li > div {visibility: hidden;opacity: 0;transition: transform 0.65s,visibility 0s, opacity 0.5s linear;height: 100%;transform: translateX(-105%);position: relative;padding: 1.2rem;white-space: nowrap;transition-timing-function: cubic-bezier(0.33, 0, 0, 1);-webkit-transition-property: all;-moz-transition-property: all;transition-property: all;transition-delay: 0.65s;transition-duration: 0.325s; }
section > div > ul.colors_guide > li > div > h5 {line-height: 27px;font-size: 18px;margin-top: 0;}
section > div > ul.colors_guide > li > div > ul {position: absolute;bottom: 0;margin: 8px 0;line-height: 27px;font-size: 18px;}
section > div > ul.colors_guide > li > div > ul > li > span {display: inline-block;width: 110px;}
section > div > ul.colors_guide > li.on {flex-basis: 50%;}
section > div > ul.colors_guide > li.on > div {visibility: visible;opacity: 1;transform: translateX(0);}

section > div > div.swiper-container {margin-top: 6.4rem;padding-bottom: 4.8rem;}
section > div > div.swiper-container > div.swiper-wrapper > div.swiper-slide {background-color: #0c2340;}
section > div > div.swiper-container > div.swiper-wrapper > div.swiper-slide > h5{margin-top: 0;}
section > div > div.swiper-container > div.swiper-wrapper > div.swiper-slide > img {width: 100%;}
section > div > div.swiper-container > div.swiper-option {margin-top: 2.2rem;height: 1.8rem;}
section > div > div.swiper-container > div.swiper-option > div.swiper-pagination{font-size: 1.6rem;line-height: 1;display: inline-block;float: right;position: static;width: auto;}
section > div > div.swiper-container > div.swiper-option > div.swiper-button-next,
section > div > div.swiper-container > div.swiper-option > div.swiper-button-prev{position: static;display: inline-block; color: #c4d600}
section > div > div.swiper-container > div.swiper-option > div.swiper-button-next > svg,
section > div > div.swiper-container > div.swiper-option > div.swiper-button-prev > svg{width: 18px; height: 18px;}
section > div > div.swiper-container > div.swiper-option > div.swiper-button-next::after,
section > div > div.swiper-container > div.swiper-option > div.swiper-button-prev::after{content: ''}

section> div > div.aside_tab {margin-top: 6.4rem;padding-bottom: 4.8rem; overflow: hidden;}
section> div > div.aside_tab > ul.tab {width: 20%;-webkit-box-orient: vertical;-webkit-box-direction: normal;flex-direction: column;color: #77797a; float: left;}
section> div > div.aside_tab > ul.tab > li {margin-bottom: 24px;transition-duration: 0.25s;transition-timing-function:cubic-bezier(0.33, 0, 0, 1);transition-delay: 0.125s;transition-property: color;line-height: 3.3rem;font-size: 22px; cursor: pointer;}
section> div > div.aside_tab > ul.tab > li.on {color: #F0F0F1;font-weight: 700;}
section> div > div.aside_tab > ul.img_list {width: 80%;margin:0; float: left;}
section> div > div.aside_tab > ul.img_list > li {	display: none;}
section> div > div.aside_tab > ul.img_list > li.on {	display: block;}

#Iconography_systemIcons .img_list  > li > span {display: inline-block; background-color: #F0F0F1; background-position: center; background-size: 50% 50%; width: 100%; background-repeat: no-repeat; padding-bottom: 100%;}
/* //basic */

/* faq */
.faq .layout {font-size: 0;}
.faq .search_form {margin: 190px 0 60px;border-bottom: 2px solid #0c2340;line-height: 80px;vertical-align: middle;}
.faq .search_form > svg {width: 40px; height: 40px; vertical-align: middle; margin-right: 20px; color: #dbe2e9;}
.faq .search_form > input {background: transparent; border: none; outline: none; font-size: 40px; vertical-align: middle; color: #0c2340;width: calc(100% - 100px); font-weight: bold}
.faq .search_form > input::placeholder {color: #0c2340;}
.faq .search_form > input.focus::placeholder {color: #dbe2e9;}
.faq .search_form > div.arrow {float: right; cursor: pointer;}
.faq .search_form > div.arrow > svg{vertical-align: middle;}
.faq aside {margin-right: 100px; margin-top: 30px; display: inline-block; vertical-align: top}
.faq aside .main_nav > li {font-weight: 300;}
.faq aside .main_nav > li.on {font-weight: 400;}
.faq article {margin: 0; display: inline-block;}
.faq article > div[tab-group] {border-bottom: 0.1rem solid #e2e2e2;display: none;}
.faq article > div[tab-group="approvals"] {display: block;}
.faq article > div > div.tit {line-height: 1.48;padding: 30px 50px 30px 0;font-size: 20px; font-weight: 800; cursor: pointer; position: relative;}
.faq article > div > div.tit::after {position: absolute; top: 50%; right: 0; display: block; content: ''; width: 13px; height: 20px; background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='9' height='14' viewBox='0 0 9 14'%3E%3Cpath fill='currentColor' fill-rule='evenodd' d='M9 7l-4.929 7H0l4.929-7L0 0h4.071z'%3E%3C/path%3E%3C/svg%3E"); background-repeat: no-repeat; background-size: cover;margin-top: -7px;}
.faq article > div > div.txt {line-height: 2;font-size: 17px;padding: 3rem 0;width: 62.5%; display: none;}
.faq article > div.no_result {font-size: 14px;}
.faq article > div.no_result > div.txt {display: block;}



@media screen and (max-width: 1600px){
.grid {width: calc(100% - 28.799999999999997rem);-ms-grid-column-gap: 4.8rem;grid-column-gap: 4.8rem;-ms-grid-template-columns: repeat(16, 1fr);grid-template-columns: repeat(16, 1fr);}
.grid_col {-ms-grid-column: 1 / span 16;grid-column: 1 / span 16;}
.btn {font-size: 1.8rem;}
aside {left: 14.399999999999999rem;}

.content {margin-top: 3rem;}
.content > section {padding-top: 9.6rem;}
.content > section > div > h4 {line-height: 4.5rem;font-size: 3.6rem;}
.content > section > div > h5 {margin-top: 3.2rem;margin-bottom: 1.6rem;}
.content > section > div > p {margin-top: 2.4rem;margin-bottom: 4rem;line-height: 3rem;font-size: 2rem;}

section > div > ul.img_list {margin-right: -2.4rem;margin-bottom: 4.8rem;margin-top: 2.4rem;margin-left: -2.4rem;}
section > div > ul.img_list > li{margin-right: 2.4rem;margin-left: 2.4rem;margin-bottom: 4.8rem;}
section > div > ul.img_list.img_1 > li{flex: 0 1 calc(100% - 4.8rem);}
section > div > ul.img_list.img_4 > li{flex: 0 1 calc(25% - 4.8rem);}
section > div > ul.img_list.img_6 > li{flex: 0 1 calc(16.66% - 4.8rem);}

section > div > ul.zoom_img > li.zoom_target > p{line-height: 1.8rem;font-size: 1.2rem;}
section > div > ul.zoom_img > li.zoom_target + li {margin-left: 2.4rem;}
section > div > ul.zoom_img > li.zoom_target + li > img{width: calc(50% - 2.4rem);margin-right: 2.4rem;margin-bottom: 4.8rem;}
section > div > ul.zoom_img > li.zoom_target + li > img:nth-child(1){margin-left: 0rem;}

section > div > div.img_slider {padding-bottom: 3.6rem;}

section > div > ol > li {line-height: 3rem;font-size: 2rem;}
section > div > div.summary {margin-top:9.6rem}
section > div > div.summary > div > ul > li {padding-bottom: 6.4rem;}
section > div > div.summary > div > ul > li > div.num {margin-bottom: 4rem;line-height: 3rem;font-size: 2rem;}
section > div > div.summary > div > ul > li > p {line-height: 7.2rem;font-size: 7.2rem;}

}
/* //max 1600px */

@media screen and (max-width: 1200px){
.grid {width: calc(100vw - 21.6rem);-ms-grid-column-gap: 3.6rem;grid-column-gap: 3.6rem;-ms-grid-template-columns: repeat(12, 1fr);grid-template-columns: repeat(12, 1fr);}
.grid_col {-ms-grid-column: 1 / span 12;grid-column: 1 / span 12;}
aside {margin-left: -2rem;}
.content{margin-top: 11rem;}
.content > section {padding-top: 6.4rem;}
.content > section > div > h4 {line-height: 4.0rem;font-size: 3.2rem;}
.content > section > div > p {margin-top: 1.6rem;margin-bottom: 1.6rem;line-height: 2.7rem;font-size: 1.8rem;}

section > div > ul.img_list {margin-right: -1.8rem;margin-bottom: 3.6rem;margin-top: 1.8rem;margin-left: -1.8rem;}
section > div > ul.img_list > li{margin-right: 1.8rem;margin-left: 1.8rem;margin-bottom: 3.6rem;}
section > div > ul.img_list.img_1 > li{flex: 0 1 calc(100% - 3.6rem);}
section > div > ul.img_list.img_4 > li{flex: 0 1 calc(25% - 3.6rem);}
section > div > ul.img_list.img_6 > li{flex: 0 1 calc(16.66% - 3.6rem);}
section > div > ul.zoom_img {margin-top: 3.6rem;padding-bottom: 3.6rem;}
section > div > ul.zoom_img > li.zoom_target {margin-right: 2.4rem;margin-bottom: 3.6rem;}
section > div > ul.zoom_img > li.zoom_target > h5{margin-top: 0rem;margin-bottom: 0.8rem;line-height: 2.7rem;font-size: 1.8rem;}
section > div > ul.zoom_img > li.zoom_target > p{margin-top: 0.8rem;margin-bottom: 0rem;}
section > div > ul.zoom_img > li.zoom_target + li {margin-left: 1.8rem;}
section > div > ul.zoom_img > li.zoom_target + li > img{width: calc(50% - 1.8rem);margin-right: 1.8rem;margin-bottom: 3.6rem;}
section > div > ul.zoom_img > li.zoom_target + li > img:nth-child(1){margin-left: 0rem;}
section > div ul.tab {margin-top: 3.6rem;}
section > div ul.tab {line-height: 2.4rem;font-size: 1.6rem;}
section > div ul.tab > li {padding-bottom: 0.8rem; padding-top: 0rem;}
section > div > ol > li {line-height: 2.7rem;font-size: 1.8rem;}
section > div > div.summary {margin-top:7.2rem}
section > div > div.summary > div > ul > li {padding-bottom: 4.8rem;}
section > div > div.summary > div > ul > li > div.num {margin-bottom: 1.8rem;line-height: 2.7rem;font-size: 1.8rem;}
section > div > div.summary > div > ul > li > p {line-height: 6.4rem;font-size: 6.4rem;}

section > div > div.swiper-container {margin-top: 3.6rem;padding-bottom: 3.6rem;}

section> div > div.aside_tab {margin-top: 3.6rem;padding-bottom: 3.6rem;}

/* //max 1200px */

@media screen and (max-width: 900px){
.grid {width: calc(100vw - 19.200000000000003rem);-ms-grid-column-gap: 3.2rem;grid-column-gap: 3.2rem;-ms-grid-template-columns: repeat(6, 1fr);grid-template-columns: repeat(6, 1fr);}
.grid_col {-ms-grid-column: 1 / span 6;grid-column: 1 / span 6;}
.content{margin-top: calc(10.8rem + 2.4vw);}
.content > section {padding-top: 4.8rem;}
.content > section > div > h4 {line-height: 3rem;font-size: 2.4rem;}
.content > section > div > .update_date {margin-top: 1.2rem;margin-bottom: 1.2rem;line-height: 2.1rem;font-size: 1.4rem;}

section > div > ul.img_list {margin-right: 1.6rem;margin-bottom: 2.4rem;margin-top: 1.6rem;margin-left: 1.6rem;}
section > div > ul.img_list > li{margin-left: 1.6rem;margin-left: 1.6rem;margin-bottom: 2.4rem;}
section > div > ul.img_list.img_1 > li{width: 100%;}
section > div > ul.img_list.img_4 > li{width: calc(50% - 3.2rem);}
section > div > ul.img_list.img_6 > li {width: calc(50% - 3.2rem);}
section > div > ul.img_list.img_3 > li > p {margin-top: 0.6rem;}
section > div > ul.img_list > li > div.txt{margin-top: 0.6rem;margin-bottom: 0rem;}
section > div > ul.img_list > li > div.mark_x{font-size: 1.8em;margin-bottom: 0.6rem;}

section > div > ul.zoom_img {margin-top: 3.2rem;padding-bottom: 6.4rem;}
section > div > ul.zoom_img > li.zoom_target {width: 100%;margin-right: 1.8rem;margin-bottom: 2.4rem;}
section > div > ul.zoom_img > li.zoom_target > h5{margin-top: 0rem;margin-bottom: 0.6rem;line-height: 2.4rem;font-size: 1.6rem;}
section > div > ul.zoom_img > li.zoom_target > p{margin-top: 0.6rem;margin-bottom: 0rem;}
section > div > ul.zoom_img > li.zoom_target + li {margin-left: 1.8rem;width: 100%;}
section > div > ul.zoom_img > li.zoom_target + li > img:nth-child(1){margin-left: 0rem;}
section > div > div.img_slider {padding-bottom: 3.2rem;}
section > div > ul.tab {margin-top: 3.2rem;}
section > div > ul.tab {line-height: 2.1rem;font-size: 1.4rem;}
section > div > ul.tab > li {padding-bottom: 0.6rem; padding-top: 0rem;margin-right: 1.2rem; }
section > div > ul.tab > li.on {border-bottom: 0.2rem solid #276ef1;}
section > div > div.tab_content {margin-top: 1.2rem;}
section > div > ol {font-size: 1.7rem;}
section > div > ol > li {width: 100%;line-height: 2.4rem;font-size: 1.6rem;}
section > div > ul.summary_list {margin-top:4.8rem}
section > div > div.summary > div > ul > li > div.num {margin-bottom: 1.2rem;line-height: 2.4rem;font-size: 1.6rem;}
section > div > div.summary > div > ul > li > p {line-height: 3.9rem;font-size: 3.9rem;}
section > div > div.swiper-container {margin-top: 2.4rem;padding-bottom: 2.4rem;}
section> div > div.aside_tab {margin-top: 2.4rem;padding-bottom: 2.4rem;}
}
/* //max 900px */
