@charset "utf-8";

/* index */
.index .main {position: relative; margin-top:0; height: 100vh;min-height: 782px;/*.txt_wrap height 654px + 128px*/}
.index .main .cover { position: absolute;left: 0;right: 0;top: 0;overflow: hidden; height: 100%; padding-top:90px;z-index: 0;}
.index .main .txt_wrap {z-index: 2;}
.index .main .txt_wrap span{display: block;font-size: 180px; line-height: 180px;}
.index .main .Presentation {position: absolute;top: 0;left: 0;z-index: 1;will-change:opacity,transform;animation-timing-function: linear;animation-duration: 20s;animation-name: launchUpward;animation-delay: 2s;animation-fill-mode: forwards;transform: translateY(100%);}
.index .main .Presentation img:nth-child(1) {width: 39vw; padding-top: 66.33333333333333%;}
.index .main .Presentation img:nth-child(2) {width: 25vw; padding-top: 66.33333333333333%;}
.index .main .Presentation img:nth-child(3) {width: 25vw; padding-top: 55.27777777777778%}
.index .main .Presentation img:nth-child(4) {width: 38vw; padding-top: 66.91666666666667%}
.index .main .cover.on .Presentation {opacity: 0;}
.index .main .white_bg {background-color: #fff;width: 100%;position: absolute;left: 0;right: 0;top: 0; z-index: 0; display: block; height: 100%;will-change: left, width, height; -webkit-transition: left 1.2s cubic-bezier(0.19, 1, 0.22, 1), width 1.2s cubic-bezier(0.19, 1, 0.22, 1), height 1.2s cubic-bezier(0.19, 1, 0.22, 1);-moz-transition: left 1.2s cubic-bezier(0.19, 1, 0.22, 1), width 1.2s cubic-bezier(0.19, 1, 0.22, 1), height 1.2s cubic-bezier(0.19, 1, 0.22, 1);transition: left 1.2s cubic-bezier(0.19, 1, 0.22, 1), width 1.2s cubic-bezier(0.19, 1, 0.22, 1), height 1.2s cubic-bezier(0.19, 1, 0.22, 1);}
.index .main .cover.on .white_bg {width: calc(100% - 256px); height: calc(100% - 128px);min-height: 654px;/*.txt_wrap height 654px*/left:128px;}

.index .guide > div {width:calc((100% - 64px)/15*6 + 64px); }
.index .guide h5 {font-size: 90px; line-height: 90px; display: inline-block;}
.index .guide [class*="float"] h5 {font-size: 56px;}
.index .guide [class*="float"] h5~h5 {margin-top:0;}
.index .guide p {width: 100%;}
.index .guide .float_right li {border-bottom: 1px solid #D0D0CE;padding: 10px 50px 10px 0;position: relative;}
.index .guide .float_right h5 {font-size: 30px;}
.index .guide .float_right h6 {font-size: 22px; line-height: 37.5px; margin-bottom: 0; font-weight: normal;}
.index .guide .float_right p {font-size: 16px; line-height: 24px; margin-bottom: 0; font-weight: 300;}
.index .guide .float_right svg {position: absolute;right: 0;top: 50%;transform: translateY(-50%); color: #004EA8; width: 18px;}
.index .guide .float_right + div p {font-size: 45px;}

.index .banner .wrapper {font-size: 0;}
.index .banner div {font-size: 30px; display: inline-block;width: calc(33.3333% - 192px); position: relative;margin-left: 96px; margin-right: 96px;}
.index .banner img {vertical-align: top;}
.index .banner .txt {position: absolute; top:0; left: 0; width: 100%; height: 100%;justify-content: center; align-items: center; background-color: rgba(0,0,0,0.5); color: #fff;display: none;}
.index .banner .on + .txt {display: flex;}



/* brand-story */
.brand-story .content+.content  {margin-top:0;}
.brand-story .content_head {margin-top:0; overflow: hidden; width: 100%;height: 100vh;min-height: 40vw;}
.brand-story .content_head > .lazy_loading.txt{width: 50%; float: left; height: 100%;display: flex; align-items: center;}
.brand-story .content_head > .lazy_loading.txt > ul > li{width: calc(100% - 192px);float: right;font-size: 130px;font-family: godo;font-weight: bold;overflow: hidden;}
.brand-story .content_head > .lazy_loading.txt > ul > li > span{transform: translateY(150px);-moz-transform: translateY(150px);-webkit-transform: translateY(150px); transition-property: transform;transition-duration: 0.6s; display: inline-block;}
.brand-story .content_head > .lazy_loading.txt.moved > ul > li > span{transform: translateY(0);-moz-transform: translateY(0);-webkit-transform: translateY(0);}
.brand-story .content_head > .lazy_loading.img{width: 50%; float: left; background-image: url(/img/brand-story/ourBrandStory.jpg); height: 50%;transition-property: height;transition-duration: 0.6s; background-position: center top; background-size: 100% cover;}
.brand-story .content_head > .lazy_loading.img.moved{height: 100%;}

.brand-story .whoWeAre {padding-bottom: 192px;}
.brand-story .whoWeAre > .txt h5 {font-size: 90px}
.brand-story .whoWeAre > .lazy {transform: scale(0.5);opacity: 0;}
.brand-story .whoWeAre > .lazy.fadeInScaleIn {transform-origin: 0px 0px;animation-delay: 1s;animation-duration: 1s;animation-name: fadeInScaleIn;will-change: transform;animation-fill-mode: forwards;}
.brand-story .whoWeAre > .lazy.float_left {margin-top: 250px;}
.brand-story .whoWeAre > .lazy.float_rifht {margin-top: 190px;}

.brand-story .whoWeServe > .layout{overflow: hidden; padding-bottom: 192px;}
.brand-story .whoWeServe > .layout h4{font-size: 90px; margin-top: 380px; line-height: 90px; }
.brand-story .whoWeServe > .layout h5{font-size: 56px; margin-bottom: 128px;}
.brand-story .whoWeServe > .layout h6{font-size: 45px; margin-bottom: 32px;}
.brand-story .whoWeServe > .layout p{width: 100%;}

.brand-story .watchVideo {background-image: url(/img/brand-story/video-poster-frame.jpg); background-size: cover;padding-bottom: 56.25%;position: relative;}
.brand-story .watchVideo div.btn_show_video{width:100%; height: 100%;text-align: center; cursor: pointer;display: flex;justify-content: center;align-items: center; background-color: #0c234026; position: absolute; top:0; left: 0;right: 0;}
.brand-story .watchVideo div.btn_show_video:hover{background-color: #0c234061}
.brand-story .watchVideo div.txt_wrap{width:100%;}
.brand-story .watchVideo h4 {display: inline-block;font-size: 90px;width: 50%;margin: 0;line-height: 90px;}
.brand-story .watchVideo p {display: inline-block; font-size: 45px; margin-bottom: 0;}
.brand-story .watchVideo span.ico_video {display: inline-block;width: 50px;height: 50px;background: rgba(255,255,255,0.5);border-radius: 50%;line-height: 1;vertical-align: middle;line-height: 30px;position: relative;margin-left: 10px;}
.brand-story .watchVideo div.btn_show_video:hover span.ico_video {background: rgba(255,255,255,0.9);}
.brand-story .watchVideo span.ico_video > svg {position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);color: #0c2340;}
.brand-story .watchVideo iframe {position: absolute;top: 0;left: 0;}

.brand-story .motto .layout{margin-top:192px;}
.brand-story .motto p {font-size: 56px; line-height: 70px;margin-bottom: 128px;}
.brand-story .motto .float_left {margin-left: calc((100% - 64px)/15*2); width:calc((100% - 64px)/15*6 + 64px);}
.brand-story .motto .float_right {width:calc((100% - 64px)/15*6 + 64px); }
.brand-story .motto h5 {font-size: 45px; line-height: 56px; margin-top:0;}
.brand-story .motto p.txt {font-size: 22px; line-height: 33px;}

.brand-story .banner > div {margin-bottom: 192px;}
.brand-story .banner span {font-size: 0;}
.brand-story .banner img {width: 33.3333%; padding-left: 96px; padding-right: 96px;}
/* //brand-story */


/* guide.html */
.guide .content > .layout {margin-top: 150px;}
.guide aside > ul.main_nav{position: absolute;top: 0; transform: translateY(0);-moz-transform: translateY(0);-webkit-transform: translateY(0); transition-property: transform;transition-duration: 0.2s;}
.guide aside.on_header > ul.main_nav{transform: translateY(90px);-moz-transform: translateY(90px);-webkit-transform: translateY(90px);}
.guide aside > ul.main_nav > li {cursor: pointer;}
.guide aside > ul.main_nav > li > ul.sub_nav {margin-left: 24px;display: none;font-weight: 400;color: #a7aeb9;}
.guide aside > ul.main_nav > li > ul.sub_nav > li{cursor: pointer;}
.guide aside > ul.main_nav > li > ul.sub_nav > li.on {color: #F0F0F1;}
.guide aside > ul.main_nav > li > ul.sub_nav > li > a {display: block;}

article {transform: translateY(0);-moz-transform: translateY(0);-webkit-transform: translateY(0);transition-property: transform;transition-duration: 0.2s;}
article > section {padding-top: 13px;}
article > section > div{margin-bottom: 24px;padding-top: 5px;}
article > section > div > .sub_tit {color: #a7aeb9;line-height: 27px;font-size: 14px;font-weight: 300;}
article > section > div ul > li > img{border: 1px solid rgb(38, 49, 57);vertical-align: bottom;}
article > section > div ul > li > h5{margin-top: 0rem;margin-bottom: 12px;line-height: 33px;font-size: 22px;}
article > section > div ul > li > p{width: 100%;margin-top: 12px;margin-bottom: 0;line-height: 22px; font-size:16px;}

section > div ul.img_list {margin-right: -32px;margin-top: 32px;margin-left: -32px;display: flex;display: -webkit-flex;flex-wrap: wrap;-webkit-flex-wrap: wrap;}
section > div ul.img_list > h5 {width: 100%;margin: 0;margin-right: 32px;margin-left: 32px;margin-top: 0rem;margin-bottom: 12px;line-height: 33px;font-size: 22px;}
section > div ul.img_list > li{margin-right: 32px;margin-left: 32px; margin-bottom: 64px;}
section > div ul.img_list.img_1 > li{width: calc(100% - 64px);}
section > div ul.img_list.img_2 > li{width: calc(50% - 64px);}
section > div h6 + ul.img_list.img_3 {margin-top: 0;}
section > div ul.img_list.img_3 > li{width: calc(33.33% - 64px);}
section > div ul.img_list.img_4 > li{width: calc(25% - 64px);}
section > div ul.img_list.img_5 > li{width: calc(20% - 64px);}
section > div ul.img_list.img_6 > li{width: calc(16.66% - 64px);}
section > div ul.img_list > li > div.mark_x{font-size: 25px;color: #ff001f;line-height: 27px;font-weight: bold;margin-bottom: 12px;}
section > div ul.img_list > li > p.lar{margin-top: 16px;line-height: 22px;}

section > div > ul.zoom_img {margin-top: 64px;padding-bottom: 48px;}
section > div > ul.zoom_img > li.zoom_target {margin-right: 32px;margin-bottom: 48px;width: 50%;}
section > div > ul.zoom_img > li.zoom_target + li {margin-left: 32px;width: 50%;padding-top: 48px;}
section > div > ul.zoom_img > li.zoom_target + li > img{width: calc(50% - 32px);float: left;margin-right: 32px;margin-bottom: 64px;transition-property: opacity;transition-duration: 0.5s;opacity: 0.3;}
section > div > ul.zoom_img > li.zoom_target + li > img:hover{opacity: 1;}
section > div > ul.zoom_img > li.zoom_target + li > img:nth-child(1){margin-left: 0rem;}
section > div > ul.zoom_img > li.zoom_target > p > span {display: none;}
section > div > ul.zoom_img > li.zoom_target > p > span.on {display: inline-block;}
section.Typography > div > ul.zoom_img > li.zoom_target + li {padding-top: 0;}

section > div > div.img_slider_wrap {padding-bottom: 4.8rem;}
section > div > div.img_slider_wrap > .img_slider {position: relative;}
section > div > div.img_slider_wrap > .img_slider > img{width: 100%; vertical-align: top}
section > div > div.img_slider_wrap > .img_slider > .guide_line{position: absolute; top:0; right: 0; width: 100%; height: 100%; overflow: hidden;}
section > div > div.img_slider_wrap > .img_slider > .guide_line > img{height: 100%; width: auto; position: absolute;top:0; right: 0;}
section > div > div.img_slider_wrap > input[type=range]{width: 40%;-webkit-appearance: none;margin: 2.4rem auto;display: block;}

section > div > div.top_tab > ul.tab {margin-top: 64px;border-bottom: 1px solid #4e545b;line-height: 33px;font-size: 22px;font-weight: 600;}
section > div > div.top_tab > ul.tab > li {padding-bottom: 12px; padding-top: 0;margin-right: 32px; cursor: pointer; display: inline-block; vertical-align: bottom;border-bottom: 3px solid transparent;}
section > div > div.top_tab > ul.tab > li.on {border-color: #c4d600;}
section > div > div.top_tab > div.tab_content {margin-top: 32px}
section > div > div.top_tab > div.tab_content li{display: none;}
section > div > div.top_tab > div.tab_content li.on{display: block;}
section > div > div.top_tab > div.tab_content li p{width: 100%;margin-top: 12px;line-height: 22px;font-size: 16px;}

section > div > ol {margin-top: 2.4rem;margin-left: 3.2rem;margin-right: 0;margin-bottom: 2.4rem;padding-left: 0px;}
section > div > ol > li {list-style-type: disc;padding-left: 1.2rem;margin-bottom: 2.4rem;width: 65%;line-height: 3.7rem;font-size: 2.5rem;}

section > div > div.summary {margin-top:12.8rem; width:100%;}
section > div > div.summary > div > ul > li {padding-bottom: 9.6rem;}
section > div > div.summary > div > ul > li > div.num {margin-bottom: 5.5rem;line-height: 3.7rem;font-size: 2.5rem;}
section > div > div.summary > div > ul > li > p {line-height: 9rem;font-size: 9rem; font-weight: 600;}

section > div > ul.colors_guide {-webkit-box-orient: horizontal;-webkit-box-direction: normal;flex-direction: row;margin-right: -1.2rem;margin-left: -1.2rem;}
section > div > ul.colors_guide > li {overflow: hidden;height: 420px;transition-timing-function: cubic-bezier(0.33, 0, 0, 1);transition-delay: 0.125s;flex-shrink: 1;-webkit-box-flex: 1;flex-grow: 1;flex-basis: 50%;transition-duration: 0.5s;margin: 12px;flex-basis: 16.6667%;outline: 1px solid #F0F0F1;}
section > div > ul.colors_guide > li > div {visibility: hidden;opacity: 0;transition: transform 0.65s,visibility 0s, opacity 0.5s linear;height: 100%;transform: translateX(-105%);position: relative;padding: 1.2rem;white-space: nowrap;transition-timing-function: cubic-bezier(0.33, 0, 0, 1);-webkit-transition-property: all;-moz-transition-property: all;transition-property: all;transition-delay: 0.65s;transition-duration: 0.325s; }
section > div > ul.colors_guide > li > div > h5 {line-height: 27px;font-size: 18px;margin-top: 0;}
section > div > ul.colors_guide > li > div > ul {position: absolute;bottom: 0;margin: 8px 0;line-height: 27px;font-size: 18px;}
section > div > ul.colors_guide > li > div > ul > li > span {display: inline-block;width: 110px;}
section > div > ul.colors_guide > li.on {flex-basis: 50%;}
section > div > ul.colors_guide > li.on > div {visibility: visible;opacity: 1;transform: translateX(0);}

section > div > div.swiper-container {margin-top: 64px;padding-bottom: 48px;}
section > div > div.swiper-container > div.swiper-wrapper > div.swiper-slide {background-color: #0c2340;}
section > div > div.swiper-container > div.swiper-wrapper > div.swiper-slide > h5{margin-top: 0;}
section > div > div.swiper-container > div.swiper-wrapper > div.swiper-slide > img {width: 100%;}
section > div > div.swiper-container > div.swiper-option {margin-top: 2.2rem;height: 1.8rem;}
section > div > div.swiper-container > div.swiper-option > div.swiper-pagination{font-size: 16px;line-height: 1;display: inline-block;float: right;position: static;width: auto;}
section > div > div.swiper-container > div.swiper-option > div.swiper-button-next,
section > div > div.swiper-container > div.swiper-option > div.swiper-button-prev{position: static;display: inline-block; color: #c4d600}
section > div > div.swiper-container > div.swiper-option > div.swiper-button-next > svg,
section > div > div.swiper-container > div.swiper-option > div.swiper-button-prev > svg{width: 18px; height: 18px;}
section > div > div.swiper-container > div.swiper-option > div.swiper-button-next::after,
section > div > div.swiper-container > div.swiper-option > div.swiper-button-prev::after{content: ''}

section> div > div.aside_tab {margin-top: 6.4rem;padding-bottom: 4.8rem; overflow: hidden;}
section> div > div.aside_tab > ul.tab {width: 20%;-webkit-box-orient: vertical;-webkit-box-direction: normal;flex-direction: column;color: #77797a; float: left;}
section> div > div.aside_tab > ul.tab > li {margin-bottom: 24px;transition-duration: 0.25s;transition-timing-function:cubic-bezier(0.33, 0, 0, 1);transition-delay: 0.125s;transition-property: color;line-height: 33px;font-size: 22px; cursor: pointer;}
section> div > div.aside_tab > ul.tab > li.on {color: #F0F0F1;font-weight: 700;}
section> div > div.aside_tab > ul.img_list {width: 80%;margin:0; float: left;}
section> div > div.aside_tab > ul.img_list > li {	display: none;}
section> div > div.aside_tab > ul.img_list > li.on {	display: block;}

#Iconography_systemIcons .img_list  > li > span {display: inline-block; background-color: #F0F0F1; background-position: center; background-size: 50% 50%; width: 100%; background-repeat: no-repeat; padding-bottom: 100%;}
/* //basic */

/* faq */
.faq .layout {font-size: 0;}
.faq .search_form {margin: 190px 0 60px;border-bottom: 2px solid #0c2340;line-height: 80px;vertical-align: middle;}
.faq .search_form > svg {width: 40px; height: 40px; vertical-align: middle; margin-right: 20px; color: #dbe2e9;}
.faq .search_form > input {background: transparent; border: none; outline: none; font-size: 40px; vertical-align: middle; color: #0c2340;width: calc(100% - 100px); font-weight: bold}
.faq .search_form > input::placeholder {color: #0c2340;}
.faq .search_form > input.focus::placeholder {color: #dbe2e9;}
.faq .search_form > div.arrow {float: right; cursor: pointer;}
.faq .search_form > div.arrow > svg{vertical-align: middle;}
.faq aside {margin-top: 30px; display: inline-block; vertical-align: top}
.faq aside .main_nav > li {font-weight: 300;}
.faq aside .main_nav > li.on {font-weight: 400;}
.faq article {margin: 0; display: inline-block;}
.faq article > div[tab-group] {border-bottom: 0.1rem solid #e2e2e2;display: none;}
.faq article > div[tab-group="approvals"] {display: block;}
.faq article > div > div.tit {line-height: 1.48;padding: 30px 50px 30px 0;font-size: 20px; font-weight: 600; cursor: pointer; position: relative;}
.faq article > div > div.tit::after {position: absolute; top: 50%; right: 0; display: block; content: ''; width: 13px; height: 20px; background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='9' height='14' viewBox='0 0 9 14'%3E%3Cpath fill='currentColor' fill-rule='evenodd' d='M9 7l-4.929 7H0l4.929-7L0 0h4.071z'%3E%3C/path%3E%3C/svg%3E"); background-repeat: no-repeat; background-size: cover;margin-top: -7px;}
.faq article > div > div.txt {line-height: 2;font-size: 17px;padding: 3rem 0;width: 62.5%; display: none;}
.faq article > div.no_result {font-size: 14px;}
.faq article > div.no_result > div.txt {display: block;}
